.kk-nav{
    background-image: url("Coordinated\ Care.png");
    height: 10vh;
    opacity: 0.9;
    position:sticky;
    top: 0px;
}
.form{
margin-top: 30px;
margin-left: 25%;
width: 50%;
height: 80vh;
border: 1px solid black;
border-radius: 10px;
/* background-color: darkgrey; */
box-shadow: 10px 10px 10px 0px grey;
}
.main_feed{
    display: flex;
    flex-direction: column;
    padding: 50px ;
}
.inpt-fdb{
    margin: 20px 0px;
    width: 90%;
    height: 25px;
    border-radius: 5px;
}
h1{
    text-align: center;
}
.sbt-feedback{
    margin-top: 20px;
    height: 30px;
    width: auto;
    background-color: rgb(6, 7, 7);
    border: transparent;
    cursor: pointer;
}
span{
    color: white;
    font-size: larger;
    font-style: italic;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* login page css from heere  */

.main-login{
    padding: 0px 30px;
    margin-top: 30px;
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
}
.right-login{
        background-color: rgba(255, 255, 255, 0.8);
        border: 1px solid rgba(0, 0, 0, 0.8);
        padding: 20px;
        font-size: 30px;
        text-align: center;
}
.left-login{
        background-color: rgba(255, 255, 255, 0.8);
        border: 1px solid rgba(0, 0, 0, 0.8);
        padding: 20px;
        font-size: 30px;
        text-align: center;
    }